---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

const { post } = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/**/*.{jpeg,jpg,png,gif}'
)

if (!images[post.data.imagePath])
  throw new Error(
    `"${post.data.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  )
---

<div class="flex flex-col max-w-sm border-2 border-teal-800 bg-orange-300">
  <Image
    src={images[post.data.imagePath]()}
    alt={post.data.description}
    class="h-56 object-cover w-full"
  />
  <div class="px-6 py-4">
    <div class="mb-2.5 text-sm">
      <p
        class="text-2xl font-bold mb-2 tracking-tight text-center hover:text-teal-600"
      >
        <a href={`/completed-games/${post.slug}`}>
          {post.data.title}
        </a>
      </p>
      <p>
        <span class="font-bold">Release date: </span>
        {post.data.releaseDate}
      </p>
      <p><span class="font-bold">Platform: </span> {post.data.platform}</p>
      <p><span class="font-bold">My star: </span>{post.data.myRating}</p>
    </div>
    <p class="text-medium line-clamp-5">
      {post.body}
    </p>
  </div>
</div>
