---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import StarIcon from './StarIcon.astro'

const { post } = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/**/*.{jpeg,jpg,png,gif}'
)

if (!images[post.data.cover])
  throw new Error(
    `"${post.data.cover}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  )

const stars = new Array(post.data.myRating).fill(0)
---

<div
  class="max-w-sm rounded-lg text-gray-800 shadow-lg transition transition-1000 hover:shadow-orange-400 shadow-orange-200 border-2 border-gray-800"
>
  <a href={`/completed-games/${post.slug}`}>
    <Image
      src={images[post.data.cover]()}
      alt={post.data.description}
      class="rounded-t-lg"
    />
  </a>
  <div class="p-5">
    <a href={`/completed-games/${post.slug}`}>
      <h5 class="mb-1.5 text-2xl text-center font-bold">
        {post.data.title}
      </h5>
    </a>
    <div class="mb-2 flex justify-center gap-2">
      {
        stars.map(
          (star, i) => i < 5 && <StarIcon class="text-yellow-400 text-2xl" />
        )
      }
    </div>
    <p class="mb-3 font-normal text-gray-700 line-clamp-6">
      {post.body}
    </p>
  </div>
</div>
